/* Загальний файл для усіх проєктів, щоб скасовувати певні елементи */

li{
    list-style-type:none; /* відміна маркування */
}
a{
   text-decoration: none; /*забираємо підкреслення */
   color: black; 
}
